body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-size: 400% 400%;
  -webkit-animation: animacionFondo 6s ease infinite;
  -moz-animation: animacionFondo 6s ease infinite;
  -o-animation: animacionFondo 6s ease infinite;
  animation: animacionFondo 6s ease infinite;
}

.container {
  width: 320px;
  height: 250px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

img {
  width: 320px;
  height: 250px;
  border-radius: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.prev,
.next {
  position: absolute;
  background: #000;
  opacity: 0.5;
  color: #fff;
  padding: 10px;
  top: 45%;
  cursor: pointer;
  transition: 0.3s;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  left: 0;
  border-radius: 0% 20% 20% 0%;
}

.next {
  right: 0;
  border-radius: 20% 0% 0% 20%;
}

@-webkit-keyframes animacionFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes animacionFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes animacionFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animacionFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}