.container {
  width: 320px;
  height: 220px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

img {
  width: 320px;
  height: 220px;
  border-radius: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
    max-width: 90%;
  }
}

.prev,
.next {
  position: absolute;
  background: #000;
  opacity: 0.5;
  color: #fff;
  padding: 10px;
  top: 45%;
  cursor: pointer;
  transition: 0.3s;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  left: 0;
  border-radius: 0% 20% 20% 0%;
}

.next {
  right: 0;
  border-radius: 20% 0% 0% 20%;
}
